* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);
}
html {
	font-family: "Inter", sans-serif;
	font-size: 32px;
}
img {
	width: 100%;
	display: block;
}
.home-logo {
	text-align: center;
	margin-top: 1rem;
}
.home-logo a {
	color: #8265d3;
}
.home-logo a:hover {
	color: #d3629d;
}
.img-cont {
	max-width: 400px;
	background: url("../images/pattern-bg.svg");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 1rem auto;
	position: relative;
	padding: 0.8rem 0 0.6rem 0;
}
.profile-img {
	width: 80%;
	border-radius: 5px;
	margin: 0 auto;
	box-shadow: 0 1rem 1rem -0.8rem rgb(85, 85, 85);
}
.controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 4px;
	left: calc(50% - 38px);
	background-color: white;
	border-radius: 30px;
}
button {
	border: none;
	background: none;
	outline: none;
}
.previous {
	padding: 10px 20px 10px 10px;
	cursor: pointer;
}
.next {
	padding: 10px 10px 10px 20px;
	cursor: pointer;
}
.previous:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
.next:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
.desc-cont {
	background: url("../images/pattern-quotes.svg"),
		url("../images/pattern-curve.svg");
	background-repeat: no-repeat;
	background-position: top center, bottom left;
	background-size: 2rem, 8rem;
	text-align: center;
	font-size: 0.5rem;
	font-weight: 300;
	padding: 1rem 1.6rem 2.2rem 1.6rem;
	color: var(--dark-blue);
}
.profile-name {
	font-weight: 700;
	margin-top: 0.5rem;
}
.profile-review {
	max-width: 450px;
	margin: 0 auto;
}
.profile-post {
	font-size: 0.4rem;
	margin-top: 3px;
	color: var(--grayish-blue);
}

@media screen and (min-width: 768px) {
	.main-cont {
		width: 100%;
		height: calc(100vh - 2rem - 39px);
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
		margin-top: 1rem;

		outline: 1px solid green;
	}
	.img-cont {
		order: 2;
		max-width: 500px;
		margin: 0;
		padding: 1.5rem 1rem 0.6rem 1rem;

		outline: 1px solid rebeccapurple;
	}
	.desc-cont {
		order: 1;
	}
	.profile-img {
		width: 90%;
		margin: 0;
		opacity: 0.2;
	}
}
