* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);
}
html {
	font-family: "Inter", sans-serif;
	font-size: 32px;
}
img {
	width: 100%;
	display: block;
}
.home-logo {
	text-align: center;
	margin: 1rem 0;
}
.home-logo a {
	color: #8265d3;
}
.home-logo a:hover {
	color: #d3629d;
}
body {
	background: url("../images/pattern-curve.svg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 11rem;
	padding-bottom: 2.2rem;
	min-height: calc(100vh - 1rem);
}
.main-cont {
	max-width: 400px;
	margin: 0 auto;
}
.img-cont {
	position: relative;
	background: url("../images/pattern-bg.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 90%;
	margin: 0 auto;
	padding: 0.8rem 1rem 1rem 1rem;
}
.profile-img {
	border-radius: 8px;
	box-shadow: 0px 30px 24px -16px #0000009c;
}
.controls {
	position: absolute;
	bottom: 5%;
	left: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	background: white;
	border-radius: 20px;
}
.previous,
.next {
	border: none;
	outline: none;
	background: none;
	padding: 0.3rem;
	cursor: pointer;
}
.previous {
	padding-right: 0.4rem;
}
.next {
	padding-left: 0.4rem;
}
.controls img {
	width: 80%;
}
.controls button:disabled {
	cursor: not-allowed;
	opacity: 0.4;
}
.desc-cont {
	margin-top: 1rem;
	background: url("../images/pattern-quotes.svg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 15%;
	font-size: 0.6rem;
	font-weight: 300;
	text-align: center;
	padding: 0.78rem;
	color: var(--dark-blue);
}
.profile-name {
	margin-top: 0.5rem;
	font-weight: 700;
}
.profile-post {
	font-size: 0.5rem;
	color: var(--grayish-blue);
}

@media screen and (min-width: 768px) {
	body {
		padding: 0 1rem 2.2rem 1rem;
		background-size: 12rem;
		min-height: calc(100vh - 1rem);
	}
	.main-cont {
		max-width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}
	.img-cont {
		order: 2;
		flex-basis: 50%;
		width: 100%;
		max-width: 475px;
		margin: 0;
	}
	.desc-cont {
		order: 1;
		flex-basis: 50%;
		text-align: left;
		font-size: 0.75rem;
	}
	.controls {
		left: 23%;
	}
}

@media screen and (min-width: 1000px) {
	body {
		padding-bottom: 0;
	}
	.main-cont {
		width: 90%;
		max-width: 1200px;
		align-items: stretch;
	}
	.desc-cont {
		position: relative;
		font-size: 1rem;
		margin-left: 1.5rem;
		padding-left: 1.4rem;
		background-position: 28% 18%;
	}
	.profile-review {
		position: absolute;
		top: 24%;
		left: 1.4rem;
		width: 108%;
		z-index: 1;
	}
	.profile-name {
		position: absolute;
		top: 72%;
		left: 1.4rem;
	}
	.profile-post {
		position: absolute;
		top: 79%;
		left: 45%;
	}
	.controls {
		bottom: 3%;
	}
}

@media screen and (max-width: 1362px) and (min-width: 1000px) {
	.profile-review {
		min-width: 550px;
		top: 20%;
		font-size: 0.8rem;
	}
	.profile-name {
		position: absolute;
		top: 60%;
	}
	.profile-post {
		top: 73%;
		left: 1.4rem;
	}
}
