:root {
	--primary-bg: #fafafa;
	--primary-text: #0e1d33;
	--head-text: #3e54a3;
	--s-spacing: 1rem;
	--m-spacing: 2rem;
	--l-spacing: 3rem;
	--border: 2px solid #b2cfd3;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Poppins", "Arial Rounded MT Bold", "Segoe UI", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 500;
}

h1 {
	font-size: 1.8rem;
}

body {
	background: var(--primary-bg);
	color: var(--primary-text);
}

a {
	text-decoration: none;
	color: var(--primary-text);
	-webkit-tap-highlight-color: transparent;
}

li {
	list-style: none;
}

img {
	width: 100%;
	display: block;
}

.main-container {
	width: 90%;
	margin: var(--m-spacing) auto;
	max-width: 1650px;
}

.logo-cont {
	width: 40px;
	cursor: pointer;
	margin-right: 1rem;
}

.attribution {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: var(--s-spacing) 0;
}

.attribution > p {
	margin: var(--s-spacing) 0;
	width: 100%;
}

.attribution span {
	display: block;
	font-weight: 400;
}

.attribution a {
	color: var(--head-text);
	text-decoration: underline;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.projects-cont {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	margin-bottom: 5rem;
}

.loading {
	width: 100%;
	text-align: center;
}

.project {
	border: var(--border);
	width: 100%;
	max-width: 380px;
	margin: 3% auto;
}

.project-img {
	min-height: 200px;
	background-color: #c2d6d9;
	display: grid;
	place-items: center;
	text-align: center;
	border-bottom: var(--border);
	overflow: hidden;
}

.desktop-preview {
	transition: all 0.5s ease-in-out;
}

.desktop-preview:hover {
	transform: scale(1.1);
}

.lang-html {
	color: #dd4b25;
	font-weight: 600;
	margin-right: 0.5rem;
}
.lang-css {
	color: #254bdd;
	font-weight: 600;
	margin-right: 0.5rem;
}
.lang-js {
	color: #d0b900;
	font-weight: 600;
}

.project-lang {
	padding: 1rem;
}

.project-name {
	padding: 0 1rem 1.2rem 1rem;
}

.back-top {
	display: inline-block;
	background-color: var(--head-text);
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 20px;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
	z-index: 1000;
	cursor: pointer;
}

.back-top::before {
	content: "";
	display: block;
	box-sizing: border-box;
	width: 26px;
	height: 26px;
	border-bottom: 13px solid #fff;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	margin: 5px 0 0 12px;
}

@media screen and (min-width: 600px) {
	.project {
		width: 48%;
		margin: 1%;
	}

	.attribution span {
		display: inline-block;
	}

	.header {
		justify-content: flex-start;
	}
}

@media screen and (min-width: 900px) {
	.project {
		width: 31%;
	}
}

@media screen and (min-width: 1300px) {
	.project {
		width: 23%;
	}
}
