* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Desaturated-Red: hsl(0, 36%, 70%);
	--Soft-Red: hsl(0, 93%, 68%);
	--Dark-Grayish-Red: hsl(0, 6%, 24%);
}
a {
	color: var(--Soft-Red);
}
a:hover {
	color: var(--Dark-Grayish-Red);
}
img {
	width: 100%;
	display: block;
}
html {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
}
.main-container {
	max-width: 400px;
	margin: 0 auto;
}
header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}
.company-logo {
	width: 40%;
}
.home-logo {
	font-size: 1.9rem;
}
.hero-img {
	background-color: var(--Desaturated-Red);
	background-image: url("../images/hero-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 250px;
}
.company-desc {
	padding: 3rem 2rem;
	text-align: center;
}
.company-desc h1 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 8px;
	line-height: 1.3;
	margin-bottom: 1rem;
	color: var(--Dark-Grayish-Red);
}
.company-desc h1 span {
	display: block;
	font-weight: 300;
	color: var(--Desaturated-Red);
}
.company-info {
	font-size: 0.9rem;
	color: var(--Desaturated-Red);
	font-weight: 400;
	line-height: 1.4;
}
form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0 0.5rem 0;
	position: relative;
}
#email {
	width: 100%;
	border: 1px solid var(--Desaturated-Red);
	outline: none;
	border-radius: 3rem;
	padding: 0.6rem 0.8rem;
	font-family: "Josefin Sans", sans-serif;
	color: var(--Desaturated-Red);
}
#email:focus {
	box-shadow: 0 0 10px var(--Desaturated-Red);
}
.error-img {
	position: absolute;
	right: 65px;
	transform: translateX(48px);
	transition: all ease-out 0.3s;
}
.error-img-trns {
	transform: translateX(0px);
}
form button {
	position: absolute;
	right: 0;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.52rem 1.4rem;
	border-radius: 20px;
	box-shadow: 0px 8px 8px rgba(165, 165, 165, 0.301);
	background: rgb(248, 191, 191);
	background: linear-gradient(
		135deg,
		rgba(248, 191, 191, 1) 0%,
		rgba(238, 140, 140, 1) 135%
	);
}
form button:hover {
	background: rgb(248, 191, 191);
}
.error-mssg {
	display: none;
	padding-left: 0.8rem;
	font-size: 0.7rem;
	color: #f96464;
}
@media screen and (min-width: 768px) {
	body {
		display: grid;
		height: 100vh;
		margin: 0;
		place-items: center center;
		background: #e8c0c03b;
	}
	.main-container {
		max-width: 900px;
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-areas:
			"header hero-img"
			"company-desc hero-img";
		background: #e8c0c03b;
		background-image: url("../images/bg-pattern-desktop.svg");
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.164),
			-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	}
	header {
		grid-area: header;
	}
	.hero-img {
		grid-area: hero-img;
		background-image: url("../images/hero-desktop.jpg");
		height: 80vh;
	}
	.company-desc {
		grid-area: company-desc;
		text-align: left;
		padding: 2rem 7rem 2rem 2rem;
	}
	.company-desc h1 {
		font-size: 2.3rem;
		max-width: 9ch;
	}
	form button {
		padding: 0.54rem 1.4rem;
	}
}
