* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--cyan: hsl(179, 62%, 43%);
	--bright-yellow: hsl(71, 73%, 54%);
	--light-gray: hsl(204, 43%, 93%);
	--grayish-blue: hsl(218, 22%, 67%);
}
html {
	font-family: "Karla", sans-serif;
	font-size: 16px;
}
