* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* Light */
	/* DARK */
	/* hsl(0, 0%, 100%) */
	--bg-color: hsl(230, 17%, 14%);
	/* hsl(225, 100%, 98%) */
	--bg-top-color: hsl(232, 19%, 15%);
	/* hsl(227, 47%, 96%) */
	--bg-card: hsl(228, 28%, 20%);
	/* hsl(230, 17%, 14%) */
	--primary-text: hsl(0, 0%, 100%);
	/* hsl(228, 12%, 44%) */
	--secondary-text: hsl(228, 34%, 66%);
}

li {
	list-style: none;
}

html {
	font-family: "Inter", sans-serif;
	font-size: 14px;
}

body {
	color: black;
}

.home-icon {
	display: inline-block;
	width: 35px;
}
