#duration {
	display: none;
}

.duration-label {
	cursor: pointer;
	margin: 0 2rem;
	padding: 5px 27px;
	background: linear-gradient(
		90deg,
		hsl(210, 78%, 56%) 0%,
		hsl(146, 68%, 55%) 100%
	);
	border-radius: 40px;
	position: relative;
	transition: all 0.5s ease-in-out;
	user-select: none;
}

.duration-label::before {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: hsl(230, 17%, 14%);
	position: absolute;
	top: 8%;
	left: 6%;
	transition: all 0.5s ease-in-out;
}

#duration:checked + .duration-label::before {
	top: 8%;
	left: 54%;
	background: white;
}

#duration:checked + .duration-label {
	background: linear-gradient(
		0deg,
		hsl(230, 22%, 74%) 100%,
		hsl(230, 22%, 74%) 100%
	);
}
