* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--Grayish-Blue: hsl(225, 20%, 60%);
	--Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

img {
	width: 100%;
	display: block;
}

li {
	list-style: none;
}

html {
	font-family: "Manrope", sans-serif;
	font-size: 16px;
}

body {
	color: var(--Grayish-Blue);
	text-align: center;
}

.home-logo {
	display: inline-block;
	font-size: 2rem;
	color: var(--Dark-Desaturated-Blue);
	margin: 2rem 0;
}

.home-logo:hover {
	color: hsl(15, 100%, 70%);
}

.main-cont {
	background-color: hsl(230, 100%, 99%);
	background-image: url("../images/pattern-circles.svg"),
		url("../images/bg-pattern.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: top 10% left 50%, 0% 0%;
	background-size: 200px, auto;
	min-height: 100vh;
	padding-bottom: 6rem;
}

.header {
	margin-bottom: 5.5rem;
}

.header-main {
	margin-bottom: 1rem;
	color: var(--Dark-Desaturated-Blue);
}

.header-text span {
	display: block;
	margin-top: 0.5rem;
}

.pricing-cont {
	width: 90%;
	max-width: 500px;
	background: white;
	border-radius: 0.5rem;
	margin: 0 auto;
	padding: 2rem 0;
	box-shadow: 5px 5px 20px #e2e2e2;
}

.pageview {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 1px;
}

.pricing {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.pricing .pricing-bold {
	font-weight: 800;
	color: var(--Dark-Desaturated-Blue);
	font-size: 2.3rem;
	margin-right: 0.5rem;
}

.duration-toggle {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 2.5rem 0;
	border-bottom: 1px solid hsl(224, 65%, 95%);
}

.duration-toggle p {
	font-size: 0.75rem;
	font-weight: 800;
}

.discount {
	padding: 3px 10px;
	border-radius: 20px;
	margin-left: 1rem;
	color: hsl(15, 100%, 70%);
	background-color: hsl(14, 92%, 95%);
}

.discount-hide {
	display: none;
}

.features {
	margin: 2rem 0;
}

.feature {
	font-size: 0.9rem;
	margin: 0.5rem 0;
}

.feature-tick {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url("../images/icon-check.svg");
	background-repeat: no-repeat;
	background-position: top 100% left 0%;
	background-size: 70%;
	margin-right: 0.5rem;
}

.start-trial {
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 800;
	color: hsl(224, 65%, 95%);
	background-color: var(--Dark-Desaturated-Blue);
	border: none;
	outline: none;
	padding: 1rem 0;
	width: 170px;
	border-radius: 2.5rem;
	cursor: pointer;
}

.start-trial:hover {
	background-color: #28aea5;
}

@media only screen and (min-width: 768px) {
	.header-text span {
		display: inline-block;
		margin: 0;
	}

	.main-cont {
		background-size: 150px, 100% 450px;
	}

	.pricing-cont {
		width: 100%;
		max-width: 550px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		padding: 3rem 2.5rem 0.2rem 2.5rem;
		text-align: left;
	}

	.pageview {
		order: 1;
		width: 50%;
	}

	.pricing {
		order: 2;
		width: 50%;
		display: flex;
		justify-content: flex-end;
	}

	.range-cont {
		order: 3;
		width: 100%;
		text-align: center;
	}

	.duration-toggle {
		order: 4;
		width: 100%;
		padding: 0.5rem 0 2.5rem 0;
	}

	.discount-hide {
		display: inline-block;
	}

	.features {
		order: 5;
		width: 50%;
	}

	.start-trial {
		order: 6;
	}
}
