input[type="checkbox"] {
	display: none;
}

.duration-label {
	cursor: pointer;
	margin: 0 1rem;
	padding: 3px 25px;
	background: hsl(223, 50%, 87%);
	border-radius: 40px;
	position: relative;
	transition: background 0.3s ease-in-out;
}

.duration-label::before {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: white;
	position: absolute;
	top: 11%;
	left: 6%;
	transition: left 0.3s ease-in-out;
}

input[type="checkbox"]:checked + .duration-label::before {
	left: 50%;
}

input[type="checkbox"]:checked + .duration-label {
	background: hsl(174, 86%, 45%);
}
