* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--Soft-red: hsl(14, 88%, 65%);
	--Light-grayish-blue: hsl(240, 5%, 91%);
}
img {
	width: 100%;
	display: block;
}
li {
	list-style-type: none;
}
a {
	color: var(--Very-dark-desaturated-blue);
}
a:hover {
	color: #007e67;
}
html {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 13px;
}
body {
	background: rgb(101, 101, 231);
	background: linear-gradient(
		0deg,
		rgba(101, 101, 231, 1) 0%,
		rgba(175, 103, 233, 1) 100%
	);
	height: 100vh;
}
.home-logo {
	width: 100%;
	font-size: 2.5rem;
	text-align: center;
	margin: 2rem 0 10rem 0;
}
.arrow-img {
	width: 14px;
	transition: all 0.5s ease;
}
.arrow-rotate {
	transform: rotate(180deg);
}
.img-cont {
	background: url("../images/bg-pattern-mobile.svg") top no-repeat;
	width: 270px;
	height: 110px;
	margin: 0 auto;
	position: relative;
}
.ill-img {
	position: absolute;
	bottom: 18%;
	right: 5%;
}
.main-cont {
	background-color: white;
	border-radius: 20px;
	width: 85%;
	max-width: 450px;
	margin: 0 auto;
}
.faq-cont {
	padding: 2rem 1.5rem 4rem 1.5rem;
}
.faq-cont h1 {
	text-align: center;
	margin: 1rem 0 2rem 0;
	font-size: 1.8rem;
}
.question {
	color: var(--Very-dark-desaturated-blue);
}
.answer {
	color: var(--Very-dark-desaturated-blue);
	font-weight: 400;
	padding-top: 1.2rem;
}
.hidden {
	display: none;
}
.fw-toggle {
	font-weight: 700;
}
.question-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.question-list li {
	border-bottom: 1px solid var(--Light-grayish-blue);
	padding: 1.2rem 0;
}
