* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Red: hsl(0, 100%, 74%);
	--Green: hsl(154, 59%, 51%);
	--Blue: hsl(248, 32%, 49%);
	--Dark-Blue: hsl(249, 10%, 26%);
	--Grayish-Blue: hsl(246, 25%, 77%);
}
a {
	color: var(--Blue);
}
a:hover {
	color: var(--Green);
}
.home-logo {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}
img {
	width: 100%;
	display: block;
}
html {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}
body {
	background: url("../images/bg-intro-mobile.png");
	background-color: var(--Red);
	color: white;
	overflow-x: hidden;
}
.main-container {
	max-width: 480px;
	padding: 2rem 1.5rem 4rem 1.5rem;
	margin: 0 auto;
	overflow: hidden;
}
.desc-cont {
	text-align: center;
}
.desc-cont p {
	margin: 1.5rem 0 3rem 0;
}
.trial-btn {
	outline: none;
	border: none;
	background-color: var(--Blue);
	color: white;
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	padding: 1.5rem;
	border-radius: 0.8rem;
	box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 1.8rem;
}
.bold {
	font-weight: 700;
}
.new-line {
	display: block;
}
.trial-btn:hover {
	background-color: #4939b1;
}
.info-form {
	background-color: white;
	border-radius: 0.8rem;
	padding: 1.5rem;
}
input {
	outline: none;
	border: 1px solid gray;
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: var(--Dark-Blue);
	font-weight: 700;
	padding: 1rem;
	border-radius: 0.3rem;
}
input::placeholder {
	color: var(--Grayish-Blue);
}
.submit-btn {
	outline: none;
	border: none;
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: white;
	background-color: var(--Green);
	text-transform: uppercase;
	padding: 1rem;
	font-weight: 500;
	cursor: pointer;
	border-radius: 0.3rem;
	box-shadow: 0 5px 0 #31af79;
}
.submit-btn:hover {
	background-color: #3cd694;
}
.terms-services {
	color: var(--Grayish-Blue);
	font-size: 0.7rem;
	text-align: center;
	line-height: 1.8;
	margin: 1.2rem 0.8rem 0 0.8rem;
}
.service-link {
	font-weight: 700;
	color: var(--Red);
	cursor: pointer;
}
.service-link:hover {
	color: var(--Green);
}
.info-form div {
	position: relative;
}
.error-icon {
	position: absolute;
	width: 1.5rem;
	right: 5%;
	top: 13%;
	opacity: 0;
	transform: translateX(1000px);
}
.error {
	color: var(--Red);
	font-style: italic;
	font-size: 0.7rem;
	text-align: right;
	opacity: 0;
	transform: translateX(1000px);
}
.error-show {
	opacity: 1;
	transform: translateX(0px);
	transition: all ease-in-out 0.3s;
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
	body {
		background: url("../images/bg-intro-desktop.png");
		background-color: var(--Red);
	}
	.main-container {
		width: 95%;
		max-width: 1200px;
		position: relative;
		padding: 3rem 1.5rem;
	}
	.home-logo {
		position: absolute;
		top: 6%;
		left: 5%;
	}
	.hero-section {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.desc-cont {
		flex-basis: 45%;
		text-align: left;
	}
	.desc-cont h1 {
		font-size: 3rem;
		margin-top: 3rem;
	}
	.form-cont {
		flex-basis: 45%;
	}
	.new-line {
		display: inline;
	}
}
