* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Blue: hsl(223, 87%, 63%);
	--Pale-Blue: hsl(223, 100%, 88%);
	--Light-Red: hsl(354, 100%, 66%);
	--Gray: hsl(0, 0%, 59%);
	--Very-Dark-Blue: hsl(209, 33%, 12%);
}
a {
	color: var(--Blue);
}
img {
	width: 100%;
	display: block;
}
html {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
}
