* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Moderate-violet: hsl(263, 55%, 52%);
	--Very-dark-grayish-blue: hsl(217, 19%, 35%);
	--Very-dark-blackish-blue: hsl(219, 29%, 14%);
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(0, 0%, 81%);
	--Light-grayish-blue: hsl(210, 46%, 95%);
}
li {
	list-style: none;
}
img {
	width: 100%;
}
html {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 13px;
}
body {
	background-color: var(--Light-grayish-blue);
	color: var(--White);
}
.home-logo {
	font-size: 2rem;
	text-align: center;
	margin: 1.5rem 0;
}
.home-logo a {
	color: var(--Very-dark-blackish-blue);
}
.home-logo a:hover {
	color: var(--Very-dark-grayish-blue);
}
.main-container {
	max-width: 450px;
	margin: 0 auto 6rem auto;
}
.profile-container {
	border-radius: 0.6rem;
	margin: 1.6rem;
	padding: 1.8rem;
	display: flex;
	flex-flow: row wrap;
	color: var(--Light-grayish-blue);
	box-shadow: 5px 5px 15px #a7a7a7;
}
.profile-img img {
	border-radius: 50%;
	display: block;
	border: 2px solid hsla(217, 19%, 35%, 0.5);
}
.profile-img {
	flex-basis: 15%;
	max-width: 44px;
}
.profile-info {
	flex-basis: 80%;
	margin-left: 1rem;
	margin-top: 1.2%;
	display: flex;
	flex-flow: column nowrap;
}
.profile-container:nth-child(1) {
	background-color: var(--Moderate-violet);
	background-image: url("../images/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-position-x: 90%;
}
.profile-container:nth-child(2) {
	background: var(--Very-dark-grayish-blue);
}
.profile-container:nth-child(4) {
	background: var(--Very-dark-blackish-blue);
}
.profile-container:nth-child(3),
.profile-container:nth-child(5) {
	background: var(--White);
	color: var(--Very-dark-grayish-blue);
}
.profile-name {
	font-size: 1.5rem;
}
.profile-post {
	opacity: 0.5;
}
.review1 {
	margin: 1.4rem 0;
	font-size: 1.69rem;
}
.review2 {
	line-height: 1.5;
	font-size: 1.1rem;
	margin-bottom: 1.2rem;
	opacity: 0.7;
}

@media screen and (min-width: 768px) {
	.main-container {
		max-width: 1100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.profile-container {
		flex-basis: 44%;
	}
	.profile-container:nth-child(1) {
		order: 1;
	}
	.profile-container:nth-child(2) {
		order: 3;
	}
	.profile-container:nth-child(3) {
		order: 4;
	}
	.profile-container:nth-child(4) {
		order: 2;
	}
	.profile-container:nth-child(5) {
		order: 5;
		flex-basis: 93%;
		background-color: var(--Moderate-violet);
		color: var(--White);
	}
	.profile-info {
		margin-top: 0;
	}
}

@media screen and (min-width: 1200px) {
	.home-logo {
		font-size: 2.5rem;
		margin: 1rem 0;
	}
	body {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
		min-height: 100vh;
	}
	.main-container {
		max-width: 1210px;
		display: grid;
		margin: 0 auto;
		grid-template-areas:
			"c1 c1 c1 c1 c2 c5"
			"c3 c4 c4 c4 c4 c5";
		margin-bottom: 2rem;
	}
	.profile-container {
		margin: 1rem;
		padding: 1.8rem 2.2rem 0.4rem 2.2rem;
	}
	.profile-container:nth-child(1) {
		order: 1;
		grid-area: c1;
	}
	.profile-container:nth-child(2) {
		order: 2;
		grid-area: c2;
	}
	.profile-container:nth-child(3) {
		order: 3;
		grid-area: c3;
	}
	.profile-container:nth-child(4) {
		order: 4;
		grid-area: c4;
	}
	.profile-container:nth-child(5) {
		order: 5;
		grid-area: c5;
		background: var(--White);
		color: var(--Very-dark-grayish-blue);
		word-spacing: 4px;
	}
	.profile-img {
		flex-basis: 20%;
	}
	.profile-info {
		flex-basis: 70%;
	}
}
