* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Moderate-violet: hsl(263, 55%, 52%);
	--Very-dark-grayish-blue: hsl(217, 19%, 35%);
	--Very-dark-blackish-blue: hsl(219, 29%, 14%);
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(0, 0%, 81%);
	--Light-grayish-blue: hsl(210, 46%, 95%);
}
html {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 13px;
}
